aiohttp==3.8.6
async-timeout==3.0.1
attrs==20.3.0
certifi==2023.7.22
chardet==4.0.0
colorlog==4.6.2
et-xmlfile==1.0.1
idna==2.10
jdcal==1.4.1
jieba==0.42.1
joblib==1.2.0
lxml==4.9.1
multidict==5.1.0
numpy==1.22.0
openpyxl==3.0.5
pandas==1.1.4
path==15.0.0
python-dateutil==2.8.1
pytz==2020.4
requests==2.25.1
scikit-learn==0.23.2
scipy==1.10.0
six==1.15.0
sklearn==0.0
threadpoolctl==2.1.0
typing-extensions==3.7.4.3
urllib3==1.26.5
XMind==1.2.0
yarl==1.6.3
