default_language_version:
  python: python3.9

exclude: |
  (?x)^(
    alembic/|
    _grpc.py|
    _pb2.py|
    tests/conftest.py
  )
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: double-quote-string-fixer
      - id: fix-byte-order-marker
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/timothycrosley/isort
    rev: 5.8.0
    hooks:
      - id: isort

  - repo: https://github.com/ambv/black
    rev: 21.5b1
    hooks:
      - id: black
        args: [--line-length=100, --skip-string-normalization]

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8