aioredis==1.3.1
amqp==2.6.0
apipkg==1.5
appdirs==1.4.4
astroid==2.4.1
async-timeout==3.0.1
attrs==19.3.0
autopep8==1.5.2
billiard==3.6.3.0
bottle==0.12.18
celery==4.4.5
certifi==2020.4.5.1
cfgv==3.1.0
chardet==3.0.4
contextlib2==0.6.0.post1
CProfileV==1.0.7
distlib==0.3.0
execnet==1.7.1
filelock==3.0.12
future==0.18.2
graphviz==0.14
grpcio==1.29.0
grpcio-tools==1.29.0
grpclib==0.3.2
h2==3.2.0
hiredis==1.0.1
hpack==3.0.0
hyperframe==5.2.0
identify==1.4.18
idna==2.9
isort==4.3.21
kombu==4.6.10
lazy-object-proxy==1.4.3
mccabe==0.6.1
mock==4.0.2
more-itertools==8.3.0
multidict==4.7.6
nodeenv==1.3.5
objgraph==3.4.1
packaging==20.4
path==13.1.0
path.py==12.4.0
pluggy==0.13.1
pre-commit==2.4.0
protobuf==3.12.2
py==1.8.1
pycodestyle==2.6.0
pylint==2.5.2
pyparsing==2.4.7
pytest==5.4.2
pytest-shutil==1.7.0
pytz==2020.1
PyYAML==5.3.1
requests==2.23.0
six==1.15.0
termcolor==1.1.0
toml==0.10.1
urllib3==1.25.9
vine==1.3.0
virtualenv==20.0.21
wcwidth==0.1.9
wrapt==1.12.1
